<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
<%- include ../partials/login_nav.ejs %>

  <!-- content -->
  <div class="container-fluid btn-light p-5">
	  <h1 class="display-4">Your Opinion matters!</h1>
	  <p class="lead">We help you create <kbd>surveys</kbd>.</p>
	  <hr class="my-4">
	  <p>Let's get you started. Click the button below to start creating your survey from many templates available.</p>
	  <a class="btn btn-primary btn-lg" href="/template" role="button">Create Survey</a>
	</div>
   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

