<%- include ../../partials/header.ejs %>

<%- include ../../partials/top_nav.ejs %>
<%- include ../../partials/login_nav.ejs %>

<div class="container-fluid btn-light p-5">
    <!-- <form method="POST"> -->
<div class="input-group">
    <p>Question 1</p><br>
    <div class="input-group-prepend">
      <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>
    <br>
    <!-- <input type="text" class="form-control" aria-label="Text input with radio button"> -->
    <label>option 1</label>
    <div class="input-group-prepend">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
      </div>
      <!-- <input type="text" class="form-control" aria-label="Text input with radio button"> -->
      <label>option 1</label>
  </div>

  <a class="btn btn-primary btn-lg" href="/template" role="button">Create Survey</a>
<!-- </form> -->
</div>

<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>

